@keyframes menu-slide-in {
    from {
        left: -18.75em;
    }
    to {
        left: 0;
    }
}

@keyframes menu-slide-out {
    from {
        left: 0;
    }
    to {
        left: -18.75;
    }
}
