@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(app/fonts/MaterialIcons-Regular.eot); /* For IE6-8 */
    src: local('Material Icons'),
         local('MaterialIcons-Regular'),
         url(app/fonts/MaterialIcons-Regular.woff) format('woff2'),
         url(app/fonts/MaterialIcons-Regular.woff) format('woff'),
         url(app/fonts/MaterialIcons-Regular.ttf) format('truetype');
  }
  
  .material-icons {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    direction: ltr;
    display: inline-block;
    font-family: 'Material Icons';
    font-feature-settings: 'liga';
    font-size: 24px;  /* Preferred icon size */
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    line-height: 1;
    text-rendering: optimizeLegibility;
    text-transform: none;
    white-space: nowrap;
    word-wrap: normal;
  }
