/* colors */

/* reds */
$red: #F44336;
$red-saturated: #da3c30;
$red-dark-desaturated: #350e0c;
$red-desaturated: #b43128;
$red-dark: #74201A;

$red-purple-dark: #2b1d20;

$white: #FFFFFF;
$black: #000;

/* widths */
$max-width: 56.25em;

/* color assignments */
$footer-bg: $red-purple-dark;
$body-bg: $red-dark-desaturated;
$header-bg: $red-saturated;
$menu-bg: $red-desaturated;
$menu-highlight: $red;
$text-main: #666;
$divider: #AAA;
$text-header-footer: #eee;
$content-bg: $white;