@import '../styles/vars.scss';

.section-divider {
    border: 1px solid $black;
    margin: .313em 0;
    width: 100%;
}

.flex-row {
    display: flex;
    justify-content: space-between;
    margin: .313em 0;
}

.monster-name {
    font-size: 1.125em;
    font-weight: bold;
    text-transform: uppercase;
}

ul#moves-list {
    margin: .313em 0;
    padding: 0 0 0 1em;
}
