<div id="monster-viewer">
    <div class="section-divider"></div>
    <div class="flex-row">
        <span class="monster-name">{{activeMonster.name}}</span>
        <span>
            <i>
                {{getActiveMonsterTags()}}
            </i>
        </span>
    </div>
    <div class="flex-row">
        <span>{{getActiveAttackName()}}&nbsp;{{getActiveDamageValue()}}</span>
        <span>{{getActiveHP()}}&nbsp;&nbsp;&nbsp;{{getActiveArmor()}}</span>
    </div>
    <div class="flex-row">
        <span>{{getActiveWeaponTags()}}</span>
    </div>
    <div class="flex-row">
        <span>
            <strong>{{getActiveSpecialQuality() ? 'Special Quality:' : ''}}</strong>
            {{getActiveSpecialQuality()}}
        </span>
    </div>
    <div class="section-divider"></div>
    <div class="flex-row">
        <span>
            {{getActiveDescription()}}
            <i>{{getActiveInstinct() ? 'Instinct: ' : ''}}</i>
            {{getActiveInstinct()}}
            <ul id="moves-list">
                <li *ngFor="let move of getActiveMoves()">
                    {{move}}
                </li>
            </ul>
        </span>
    </div>
</div>