<mat-card id="login" class="page-form-container">
    <h4 mat-dialog-title>Login</h4>
    <form #loginForm="ngForm" (submit)="submitLogin()">
        <div class="login-input">
            <p class="error" *ngIf="authError">Invalid credentials</p>
            <mat-form-field>
                <input matInput required placeholder="username" name="username" type="text" [(ngModel)]="username"/>
            </mat-form-field>
            <mat-form-field>
                <input matInput required placeholder="password" name="password" type="password" [(ngModel)]="password"/>
            </mat-form-field>
        </div>
        <div class="actions">
            <button mat-raised-button color="primary" [disabled]="!loginForm.valid">Submit</button>
            <button mat-button color="primary" type="button">Cancel</button>
        </div>
    </form>
</mat-card>
