<div id="menu">
    <ul>
        <li (click)="navigateTo('monsters')">Monsters</li>
        <li (click)="navigateTo('lists')">Monster Lists</li>
        <li (click)="navigateTo('moves')">Moves</li>
    </ul>
</div>
