@import '../styles/vars.scss';

#menu {
    color: $text-header-footer;
    overflow: auto;
    width: 100%;

    ul {
        margin: 0;
        padding: 0;

        li {
            border-bottom: 1px solid $text-header-footer;
            cursor: pointer;
            display: block;
            font-size: 1.25em;
            height: 3em;
            line-height: 3em;
            list-style: none;
            padding: 0 0 0 1em;

            &:hover {
                background: $menu-highlight;
            }
        }
    }
}
