@import '../styles/vars.scss';

#monsterMaker {
    display: flex;
    padding: 1em;

    &>div {
        flex: 1 1 50%;
    }

    .vertical-divider {
        border: solid $divider;
        border-width: 0 0 0 1px;
        flex: 0 0 0px;
        margin: 0 1em;
    }
}

#monster-actions {
    border: solid $divider;
    border-width: 0 0 1px 0;
    display: flex;
    justify-content: space-between;
    margin: 0 0 1em;
    padding: 0 0 1em;
}

#monsterMakerFormContainer {
    mat-form-field {
        margin: 0 1%;
        width: 48%;

        &.single-line {
            width: 98%;
        }
    }
}

#move-list, #monster-tag-list, #weapon-tag-list {
    padding: 0;

    li {
        align-items: center;
        display: flex;
    }
}

.form-section {
    margin: 1em 0;

    .section-header {
        border-bottom: 1px solid $text-main;
        font-size: 1.125em;
    }
}

.flex-row {
    display: flex;
    align-items: center;
    justify-content: space-around;

    mat-form-field {
        flex: 1 1 auto;
    }

    div.buttons {
        display: flex;
        flex: 0 0 32%;
        justify-content: space-around;
    }
}
