<div id="monsterMaker">
  <div id="monsterMakerFormContainer">
    <div id="monster-list">
      <mat-form-field>
        <mat-select name="activeListSelect" [(ngModel)]="activeMonsterList">
          <mat-option *ngFor="let list of getMonsterLists()" [value]="list">
            {{ list.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div id="monster-actions">
      <button (click)="showMonsterPicker()" mat-raised-button type="button">Load Monster From List</button>
      <button (click)="saveMonsterToList()" mat-raised-button type="button">Save This Monster to List</button>
    </div>
    <form>
      <mat-form-field>
        <input matInput [(ngModel)]="activeMonster.name" name="monsterName" placeholder="Name" type="text">
      </mat-form-field>
      <mat-form-field class="single-line">
        <textarea matInput placeholder="Description" [(ngModel)]="activeMonster.description"
          name="monsterDescription"></textarea>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Instinct" [(ngModel)]="activeMonster.instinct" name="monsterInstinct" type="text">
      </mat-form-field>

      <mat-form-field>
        <mat-select placeholder="Group Size" name="monsterGroupSize" [(ngModel)]="activeMonster.groupSize">
          <mat-option *ngFor="let groupSize of monsterGroupSizes" [value]="groupSize">
            {{groupSize.description}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-select placeholder="Size" name="monsterSize" [(ngModel)]="activeMonster.size">
          <mat-option *ngFor="let size of monsterSizes" [value]="size">
            {{size.description}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-select placeholder="Defenses" name="monsterDefenses" [(ngModel)]="activeMonster.defenses">
          <mat-option *ngFor="let defense of monsterDefenses" [value]="defense">
            {{defense.description}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Main attack name" [(ngModel)]="activeMonster.attackName" name="monsterAttackName"
          type="text">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Special Quality" [(ngModel)]="activeMonster.specialQuality"
          name="monsterSpecialQuality" type="text">
      </mat-form-field>

      <div id="moves=section" class="form-section">
        <p class="section-header">Moves</p>
        <div class="moves-empty" [hidden]="activeMonster.moves.length">
          <p><i>You have no moves written.</i></p>
        </div>
        <div class="moves-active" [hidden]="!activeMonster.moves.length">
          <ul id="move-list">
            <li *ngFor="let move of activeMonster.moves; let moveIndex = index">
              {{move}}
              <span class="clickable"><i class="material-icons" (click)="deleteMove(moveIndex)">delete</i></span>
            </li>
          </ul>
        </div>
        <div [hidden]="isAddingMove">
          <button mat-raised-button type="button" (click)="showMoveForm()">Add Move</button>
        </div>
        <div [hidden]="!isAddingMove">
          <div class="flex-row">
            <mat-form-field>
              <input placeholder="Move description" matInput type="text" name="addMonsterMove" [(ngModel)]="newMove">
            </mat-form-field>
            <div class="buttons">
              <button mat-raised-button type="button" (click)="addMove()">Add</button>
              <button mat-raised-button type="button" (click)="cancelAddMove()">Cancel</button>
            </div>
          </div>
        </div>
      </div>

      <div id="monster-tags-section" class="form-section">
        <p class="section-header">Monster Tags</p>

        <div id="monster-tags-empty">
          <p><i>You haven't added any monster tags.</i></p>
        </div>
        <div id="monster-tags-active">
          <ul id="monster-tag-list">
            <li *ngFor="let tag of activeMonster.monsterTags; let monsterTagIndex = index;">
              {{tag.description}}
              <span class="clickable"><i class="material-icons"
                  (click)="deleteMonsterTag(monsterTagIndex)">delete</i></span>
            </li>
          </ul>
        </div>
        <div [hidden]="!isAddingMonsterTag">
          <div class="flex-row">
            <mat-form-field>
              <mat-select placeholder="Select Monster Tag" name="addMonsterTagSelect" [(ngModel)]="newMonsterTag">
                <mat-option *ngFor="let monsterTag of monsterTags" [value]="monsterTag">
                  {{monsterTag.description}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <div class="buttons">
              <button mat-raised-button type="button" (click)="addMonsterTag()">Add</button>
              <button mat-raised-button type="button" (click)="cancelAddMonsterTag()">Cancel</button>
            </div>
          </div>
        </div>
        <div [hidden]="isAddingMonsterTag">
          <button mat-raised-button (click)="showMonsterTagForm()">Add Monster Tag</button>
        </div>
      </div>

      <div id="weapon-tags-section" class="form-section">
        <p class="section-header">Weapon Tags</p>

        <div id="weapon-tags-empty">
          <p><i>You haven't added any weapon tags.</i></p>
        </div>
        <div id="weapon-tags-active">
          <ul id="weapon-tag-list">
            <li *ngFor="let tag of activeMonster.weaponTags; let weaponTagIndex = index;">
              <div class="flex-row">
                <span>{{tag.getWeaponTagString()}}</span>
                <span class="clickable"><i class="material-icons"
                    (click)="deleteWeaponTag(weaponTagIndex)">delete</i></span>
              </div>
            </li>
          </ul>
        </div>
        <div [hidden]="!isAddingWeaponTag">
          <div class="flex-row">
            <div>
              <mat-form-field>
                <mat-select placeholder="Select Weapon Tag" name="addWeaponTagSelect" [(ngModel)]="newWeaponTag">
                  <mat-option [value]="">Select Weapon Tag</mat-option>
                  <mat-option *ngFor="let weaponTag of weaponTags" [value]="weaponTag">
                    {{weaponTag.description}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <div [hidden]="!newWeaponTag || newWeaponTag.modifier.operation !== modifierPlus">
                <mat-form-field>
                  <input matInput name="monsterTagValueAdd" placeholder="Value" [(ngModel)]="newWeaponTagModifier"
                    type="number">
                </mat-form-field>
              </div>
            </div>
            <div class="buttons">
              <button mat-raised-button type="button" (click)="addWeaponTag()">Add</button>
              <button mat-raised-button type="button" (click)="cancelAddWeaponTag()">Cancel</button>
            </div>
          </div>
        </div>
        <div [hidden]="isAddingWeaponTag">
          <button mat-raised-button (click)="showWeaponTagForm()">Add Weapon Tag</button>
        </div>
      </div>
    </form>
  </div>

  <div class="vertical-divider"></div>

  <div id="monsterDisplay">
    <app-monster-viewer [activeMonster]="activeMonster"></app-monster-viewer>
  </div>
</div>
