@import 'styles/vars.scss';
* {
  box-sizing: border-box;
}

div.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

app-menu {
    background: $menu-bg;
    bottom: 0;
    left: -18.75em;
    max-width: 18.75em;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 10;

    &.displayed.toggled {
        animation: .75s menu-slide-in;
        left: 0;
    }

    &.toggled {
        animation: .75s menu-slide-out;
    }
}

#menu-overlay {
    bottom: 0;
    display: none;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1;

    &.displayed {
        display: block;
    }
}

header {
    align-items: center;
    background: $header-bg;
    color: $text-header-footer;
    display: flex;
    flex: 1 1 auto;
    flex-wrap: nowrap;
    padding: 0 1em;
    width: 100%;

    h1 {
        flex: 1 1 auto;
        font-weight: normal;
        margin: .5em 0;
        text-align: center;
    }

    #menu-button {
        flex: 0 0 auto;
        margin: 0 1em;
    }
}

#content {
    color: $text-main;
    background: $content-bg;
    flex: 10 10 auto;
    height: 72%;
    overflow-y: auto;
    position: relative;
}

footer {
    background: $footer-bg;
    color: $text-header-footer;
    flex: 4 4 auto;
    padding: 1em;

    a {
        color: $text-header-footer;
    }
}

app-monster-list {
  display: block;
  height: 100%;
}
