<div class="container">
    <header>
        <a id="menu-button" class="clickable" (click)="toggleMenu()">
            <i class="material-icons">menu</i>
        </a>
        <h1>{{title}}</h1>
    </header>
    <div id="content">
        <app-menu [ngClass]="{'displayed': isMenuDisplayed, 'toggled': menuHasBeenToggled}"></app-menu>
        <div id="menu-overlay" (click)="toggleMenu()" [ngClass]="{'displayed': isMenuDisplayed}"></div>
        <router-outlet></router-outlet>
    </div>
    <footer>
        <p>2019 ~ BirchBoys</p>
        <p>View the source on Bitbucket here: <a href="https://bitbucket.org/thestablesonfire/dw-monster-maker" target="_blank">https://bitbucket.org/thestablesonfire/dw-monster-maker</a></p>
    </footer>
</div>
