@import "../styles/vars.scss";

.list-view {
  display: flex;
  height: 100%;

  .list-list {
    border: 1px solid $red-purple-dark;
    border-width: 0 1px 0 0;
    flex: 1 1 250px;
    position: relative;

    mat-nav-list {
      border: 1px solid $divider;
      border-width: 0 0 1px 0;

      mat-list-item {
        &.selected {
          background: #DDD;
        }
      }
    }

    .add-list-button {
      bottom: 20px;
      font-size: 28px;
      position: absolute;
      right: -28px;
    }
  }

  .monster-list {
    flex: 3 3 70%;
  }
}
