<div class="list-view">
  <div class="list-list">
    <mat-nav-list>
      <div *ngFor="let list of getMonsterLists()">
        <mat-list-item [class]="{'selected': list === selectedList}" (click)="selectList(list)">
          <span mat-line>{{ list.name }}</span>
          <div class="delete-list" (click)="openDeleteDialog(list)">
            <mat-icon aria-hidden="false" aria-label="Delete this list">delete</mat-icon>
          </div>
        </mat-list-item>
      </div>
      <p *ngIf="!getMonsterLists().length">There are no monsters on your list</p>
    </mat-nav-list>
    <button class="add-list-button" (click)="openAddListDialog()" color="primary" mat-fab>+</button>
  </div>
  <div class="monster-list">
    <!-- <app-monster-viewer [activeMonster]="monster"></app-monster-viewer> -->
  </div>
</div>
