<h1 mat-dialog-title>Delete List</h1>
<div mat-dialog-content>
  <p>Really delete list</p>
  <p>'{{data.name}}'</p>
</div>
<div mat-dialog-actions>
  <button mat-button color="primary" [mat-dialog-close]="data" cdkFocusInitial>Yes</button>
  <button mat-button (click)="onNoClick()">No</button>
</div>
