<h1 mat-dialog-title>Create a Monster List</h1>
<div mat-dialog-content>
  <p>Please enter a name:</p>
  <mat-form-field>
    <mat-label>List Name</mat-label>
    <input matInput [(ngModel)]="data">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button color="primary" mat-button [mat-dialog-close]="data" cdkFocusInitial>Ok</button>
  <button mat-button (click)="onCancelClick()">Cancel</button>
</div>
