<mat-nav-list>
  <a
    *ngFor="let monster of activeList.getMonsters()"
    (click)="selectMonster($event, monster)"
    href="#"
    mat-list-item>
    <span mat-line>{{monster.name}}</span>
    <span mat-line>{{monster.description}}</span>
  </a>
  <p *ngIf="!activeList.getMonsters().length">There are no monsters on your list</p>
</mat-nav-list>
